In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [2]:
y = np.random.randint(0,20,size=10)
y_hat = np.random.randint(0,20,size=10)

In [3]:
df = pd.DataFrame({
    "y actual": y,
    "y hat":y_hat
})

In [4]:
df

   y actual  y hat
0         1     10
1         6     10
2        16     10
3        11     18
4        19      2
5         9     16
6         5     11
7         3      4
8         6     17
9        17     17

array([ 81,  16,  36,  49, 289,  49,  36,   1, 121,   0])

In [12]:
MSE = mean_squared_error(y,y_hat)
MAE = mean_absolute_error(y,y_hat)
new_df = pd.DataFrame({
    "y actual": y,
    "y hat":y_hat,
    "mean squar error":(y - y_hat)**2,
    "mean absloute error":np.abs((y - y_hat))
})

In [13]:
new_df

   y actual  y hat  mean squar error  mean absloute error
0         1     10                81                    9
1         6     10                16                    4
2        16     10                36                    6
3        11     18                49                    7
4        19      2               289                   17
5         9     16                49                    7
6         5     11                36                    6
7         3      4                 1                    1
8         6     17               121                   11
9        17     17                 0                    0

In [14]:
dff=df["mean squar error"].sum() / df.shape[0]
dff

67.79999999999998

In [15]:
print(mean_squared_error(y,y_hat))

67.8